@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	color-scheme: light dark;
}

html,
body,
#app {
	height: 100%;
}

body {
	@apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-100;
	font-feature-settings: "cv11", "ss01";
}

::selection {
	@apply bg-amber-400/30;
}
